#footerWrapper {
    background-color: rgba(26,26,26,0.2);
    position: fixed;
    margin: 0.25rem 0.25rem;
    width: 100%;
    bottom: 0%;
    justify-content: center;
    color: azure;
}
#copyRightContainer {
    margin-top: 0.5rem;
}